@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: "Rubik", sans-serif;
  background: rgb(98, 210, 251);
  background: linear-gradient(
    90deg,
    rgba(98, 210, 251, 0.28975286403623945) 30%,
    rgba(122, 205, 228, 0.3457752729998249) 35%,
    rgba(78, 241, 216, 0.4130021637561274) 100%
  );
}

.Loader {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.Loader img {
  width: 100%;
  height: 100%;
}

.Textarea {
  margin: 1rem;
}

.form-floating {
  max-width: 400px;
  background-color: white;
  border: 1px solid rgba(83, 83, 88, 0.909) #909090;
  border-radius: 4px;
  padding: 8px 12px;

  input {
    width: 100%;
    background-color: transparent;
    padding: 0 20px 6px 20px;
    outline: none;
    border: none;
  }
}

nav {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 80px;
  }
}

.form-image {
  padding-left: 14px;
}

.user-image {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid gray;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
}
.image {
  width: 180px;
  border: 1px solid #909090;
  border-radius: 5px;
  display: none;
  margin-top: 10px;
}
.show {
  display: inline-block;
}

input {
  position: absolute;
}

input[type="file" i] {
  display: none;
}

input::file-selector-button {
  display: none;
}



@media screen and (max-width: 447px) {
  nav {
    img {
      width: 50px;
    }
  }
  .Bertus_text {
    font-size: 20px;
  }
  .Textarea {
    textarea {
      width: 100%;
    }
  }
  .form-floating {
    padding: 8px 12px 30px 12px;
  }
}

@media screen and (min-width: 447px) and (max-width: 769px) {
  .Bertus_text {
    font-size: 22px;
  }
  .form-floating {
    padding: 8px 12px 30px 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 990px) {
  .Bertus_text {
    font-size: 24px;
  }
  .form-floating {
    padding: 8px 12px 30px 12px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .Bertus_text {
    font-size: 30px;
  }
  .form-floating {
    padding: 8px 12px 30px 12px;
  }
}
